@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rammetto+One&display=swap");

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html {
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.title-overlay {
  font-family: "Rammetto One", sans-serif;
  position: absolute;
  z-index: 6;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 150ms ease-in-out;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title-overlay button {
  width: 100px;
  height: 60px;
  all: unset;
  background-color: antiquewhite;
  border: 5px solid #212121;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  color: #212121;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: transparent;
  padding: 20px 28px;
}

.title-overlay button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background-color: rgb(238, 224, 206);
  transform: scale(0.98);
}

.title-overlay button:focus {
  background-color: #f7b4a0;
}

.footer {
  position: absolute;
  font-size: 14px;
  color: #212121;
  bottom: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: #f7e0d90e;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  margin-left: 4px;
}

.footer a:visited {
  color: #212121;
}

h1 {
  font-size: 8rem;
  text-align: center;
  color: #f290b3;
  letter-spacing: 0.2rem;
  line-height: 8.4rem;
  -webkit-text-stroke-color: #212121;
  -webkit-text-stroke-width: 3px;
  text-shadow: 0 0 0.5rem rgba(211, 9, 70, 0.25);
}

h1.hidden {
  opacity: 0;
}

.title-absent {
  display: none;
}

.bubble-wrap {
  display: grid;
  position: relative;
  left: -26px;
  top: -45px;
  background-color: #f7b4a0;
  width: calc(100vw + 30px);
  height: calc(100vh + 45px);
}

.bubble {
  width: 60px;
  height: 60px;
}

.unpopped-svg,
.popped-svg {
  position: relative;
  top: 10px;
  left: -10px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.unpopped-svg {
  position: relative;
  top: -68px;
}

.show-popped .popped-svg,
.show-unpopped .unpopped-svg {
  opacity: 1;
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 10px;
  }

  .footer {
    font-size: 12px;
  }
}

@media screen and (min-width: 2100px) {
  html {
    font-size: 16px;
  }
}
